name: "Terraform Infra Deploy"

on:
  push:
    branches:
      - main
    # [중요] 테라폼 폴더가 변경되었을 때만 실행! (앱 코드 수정 때는 실행 안 함)
    paths:
      - 'terraform/**'

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    
    # 테라폼 명령어를 실행할 위치 지정
    defaults:
      run:
        working-directory: ./terraform/environments/dev

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # 1. AWS 인증 (Secrets 사용)
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # 2. 테라폼 설치
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      # 3. 테라폼 초기화 (S3 백엔드 연결)
      - name: Terraform Init
        run: terraform init

      # 4. 테라폼 검사 (변경 사항 확인)
      # -no-color: 로그 보기 편하게 색상 코드 제거
      - name: Terraform Plan
        run: terraform plan -no-color

      # 5. 테라폼 적용 (자동 승인)
      # -auto-approve: "yes" 입력 없이 바로 진행
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' # main 브랜치일 때만 진짜로 적용
        run: terraform apply -auto-approve